.img-counter-board {
    width: 100px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.half[data-num="0"] {
    background-image: url("./img/0.png");
}

.half[data-num="1"] {
    background-image: url("./img/1.png");
}

.half[data-num="2"] {
    background-image: url("./img/2.png");
}

.half[data-num="3"] {
    background-image: url("./img/3.png");
}

.half[data-num="4"] {
    background-image: url("./img/4.png");
}

.half[data-num="5"] {
    background-image: url("./img/5.png");
}

.half[data-num="6"] {
    background-image: url("./img/6.png");
}

.half[data-num="7"] {
    background-image: url("./img/7.png");
}

.half[data-num="8"] {
    background-image: url("./img/8.png");
}

.half[data-num="9"] {
    background-image: url("./img/9.png");
}

.half {
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    backface-visibility: hidden;
    transition: transform 1s;
}

.tweak {
    transition: color 1s;
}

.tweak.tack {
    color: red;
}

.top-half {
    top: 0;
    transform-origin: 50% 100%;
}

.bottom-half {
    bottom: 0;
    background-position: 0 100%;
    transform-origin: 50% 0;
}

.back-half {
    visibility: hidden;
}

/** 向下翻 **/
.increment .top-half.cur-half {
    z-index: 1;
}

.increment .bottom-half.next-half {
    z-index: 2;
}

.increment .bottom-half.next-half {
    transform: rotateX(180deg);
}

.increment .top-half.back-half {
    transform: rotateX(180deg);
}

.increment.animating .bottom-half.next-half {
    transform: rotateX(0);
}

.increment.animating .top-half.cur-half {
    transform: rotateX(180deg);
}

.increment.animating .top-half.back-half {
    transform: rotateX(0);
}

.increment.animating .bottom-half.back-half {
    transform: rotateX(180deg);
}

/** 向上翻 **/
.decrement .bottom-half.cur-half {
    z-index: 1;
}

.decrement .top-half.next-half {
    z-index: 2;
}

.decrement .top-half.next-half {
    transform: rotateX(180deg);
}

.decrement .bottom-half.back-half {
    transform: rotateX(180deg);
}

.decrement.animating .top-half.next-half {
    transform: rotateX(0);
}

.decrement.animating .bottom-half.cur-half {
    transform: rotateX(180deg);
}

.decrement.animating .bottom-half.back-half {
    transform: rotateX(0);
}

.decrement.animating .top-half.back-half {
    transform: rotateX(180deg);
}